    <div class="jumbotron">
      <div class="container">
        <h1>Mailboxer Demo</h1>
        <p>This is a demo that utilizes the Mailboxer Ruby gem to provide private messaging functionality between users. I created this app to help demonstrate a Mailboxer tutorial I wrote on my blog.
        <p>Create an account and send users a message. Feel free to create multiple accounts so you can test all of the features.</p>
      </div>
    </div>

    <div class="container">
      <!-- row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Read the tutorial</h2>
          <p>I wrote a tutorial that explains how to implement the mailboxer gem in your Rails app. Updated for Rails 4.2.</p>
          <p><a class="btn btn-default" href="http://www.jamestansley.com/2014/02/22/customizing-the-mailboxer-ruby-gem-2/" role="button">Read tutorial &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>Download the source code</h2>
          <p>This app is completely open source and 100% free to use. The code is currently hosted on Github.</p>
          <p><a class="btn btn-default" href="#" role="button">View on Github &raquo;</a></p>
       </div>
      </div>

      <hr>

      <footer>
        <p>&copy; James Tansley 2015</p>
      </footer>
    </div> <!-- /container -->